:root {
    --border-colour: rgba(250, 250, 250, 0.2)
}

:has(>*>*>.stu-marker) {
    display: none;
}

:has(>*>*>*>.stu-row) {
    flex-direction: row;
    justify-content: stretch;
}

:has(>*>*>*>.chat-message) {
    position: relative;
    padding: calc(1em - 1px);
    border-radius: 0 1em 1em 1em;
    border: 1px solid var(--border-colour);
    gap: 1em;
}

:has(>*>*>*>.chat-message.viewer) {
    margin-right: 1em;
    margin-left: auto;
    border-radius: 1em 0 1em 1em;
}

:has(>*>*>.avatar) {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
    overflow: hidden;
}

.avatar {
    width: 3em;
    height: 3em;
}

.avatar > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:has(>*>*>*>.chat-box) .username-title {
    opacity: 50%
}
:has(>*>*>*>.chat-box) .username-title:before {
    content: '@';
    opacity: 75%
}
